// temp stuff so site is "usable" during content development

img {
	max-width: 100%;
}

.m-news {
	.m-img {
		width: 150px;
	}
}

.page__width {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}